/********************************************************************************
 * Global
 ********************************************************************************/
body{
    font-family: Play, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}




/********************************************************************************
 * Header
 ********************************************************************************/
.header {

}

/*
 * Jumbotron
 */
.header > .jumbotron {
    margin-bottom: 0;
}

/*
 * Navbar
 */
.header > .navbar .navbar-nav > li {
    float: none;
}



/********************************************************************************
 * Content
 ********************************************************************************/
.content {

}




/********************************************************************************
 * Colophon
 ********************************************************************************/
.colophon {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 30px;
    border-top: 1px solid #e7e7e7;
}




/********************************************************************************
 * Footer
 ********************************************************************************/
.footer {
    padding: 10px 0;
    background-color: #f8f8f8;
}
